.meetup-selector {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.meetup-selector__control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.meetup-selector__cover {
}
